:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-bg-app: #222222;
    --color-waveform-board: #229922;
    --color-waveform-inner: #005555;
    --color-waveform-outer: #550055;
}
