.waves {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__buttons {
    display: flex;
    gap: 3px;
  }

  &__button {
    cursor: pointer;
    margin-bottom: 20px;
    background: var(--color-black);
    color: var(--color-white);
    padding: 10px 20px;
    display: inline-block;
  }

  &__add-file {
    input {
      visibility: hidden;
      width: 1px;
      height: 1px;
    }
  }
}
