@use '../styles/base';
@use '../styles/colors';

.layout {
  height: 100dvh;
  width: 100dvw;

  &__footer {
    position: absolute;
    bottom: 10px;
    right: 10px;

  }

  &__footer-link {
    font-size: 13px;
    opacity: 0.5;
  }
}
