@use '../styles/base';
@use '../styles/colors';

.layout {
  height: 100dvh;
  width: 100dvw;

  &__footer {
    position: absolute;
    bottom: 10px;
    right: 10px;

  }

  &__footer-link {
    font-size: 13px;
    opacity: 0.5;
  }
}

.app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
  width: 90vw;
  max-width: 1200px;
  background: var(--color-bg-app);
  padding: 15px;

  &__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  &__cols {
    display: flex;
    gap: 20px;
  }
}
