.board-dimensions {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__label {
    flex-basis: 40px;
    display: flex;
    align-items: center;
  }

  &__label-text {
    flex-basis: 120px;
  }

  &__input {
    flex-grow: 1;
  }
}
